<footer class="bg-dark text-light text-center py-3 mt-auto w-100">
    <div>
        © 2025 TecnoPoint. Todos los derechos reservados.<br>
        Tomás Fernandez, Pablo Chevetzki
    </div>
    <div>
        <a href="#" class="text-light">Política de privacidad</a> |
        <a href="#" class="text-light">Términos de servicio</a>
    </div>
</footer>