<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - TecnoPoint</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <script src="../public/js/dashboard.js"></script>
</head>

<body class="d-flex flex-column min-vh-100 bg-light">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><img src="../public/assets/logo.png" alt="Logo TecnoPoint"
                    class="navbar-brand-logo">
                TecnoPoint</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="admin.html">Login</a></li>
                    <li class="nav-item "><a class="nav-link active" href="#">Dashboard</a></li>
                    <li class="nav-item "><a class="nav-link" href="alta.html">Alta Producto</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido principal -->
    <main>
        <table class="table table-striped mt-4 table-hover container">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Foto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="lista-productos">
                <!-- Aquí se llenarán los productos dinámicamente -->
            </tbody>
        </table>
    </main>


    <!-- Footer pegado abajo -->
    <footer class="bg-dark text-light text-center">
        <div class="p-3">
            © 2025 TecnoPoint. Todos los derechos reservados.
            Tomás Fernandez, Pablo Chevetzki
        </div>
        <div class="p-3">
            <a href="#" class="text-light">Política de privacidad</a> |
            <a href="#" class="text-light">Términos de servicio</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>
</body>

</html>